<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Market</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>
<body class="p-6">
        <div class="mx-auto">
        <div class="flex gap-6 mb-8 items-center">
            <input type="text" placeholder="Search" class="flex-grow border-2">
            <div class="flex gap-4">
                <button class="border-2 px-8">User</button>
                <button class="border-2 px-8">Cart</button>
            </div>
        </div>
        <div class="flex gap-4 mb-8">
            <button class="border-2">Filtering</button>
            <button class="border-2">Sorting</button>
        </div>
        <div class="grid grid-cols-5 gap-4">
            {% for skin in temp_skins %}
            <div class="aspect-square border-2 p-4 flex flex-col justify-between">
                <div class="flex-grow flex items-center justify-center border ">
                    <span>IMG</span>
                </div>
                    <h3 class="text-sm">{{skin.name}}</h3>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>
